.RequirementDisplay {
  border-bottom: 1px solid #d0d0d0;
  color: #7c7c7c;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  .Dot {
    background-color: #7e254e;
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 0.4rem;
    border-radius: 50%;
  }
  p {
    margin: 0;
    margin: 1vh 0;
  }
}
