.HamburguerMenu {

  .container {
    display: flex;
    flex-direction: column;
    background: #EABD00;
    padding: 5px;
    width: fit-content;
    border-radius: 3px;
    opacity: 0.8;

    span {
      margin: 2px;
      border-radius: 3px;
      background: #444444;
      width: 30px;
      height: 5px;
    }
  }
}
