$waveFooter: url('assets/wave-footer.svg');

.Footer {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px 0;
  color: #FFF;

  background: $waveFooter top center no-repeat, #7e254e;
  background-size: 110%, auto;

  img {
    width: 80%;
  }

  p {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .Footer {
    grid-template-columns: repeat(auto-fit, 25%);

    .Social {
      grid-column: 1/-1;
    }

    ul {
      justify-content: flex-start;
    }
  }
}
