.SubmitButton {
  min-height: 40px;
  max-width: 300px;
  border-radius: 5px;
  background: #eabd00;
  font-size: 1rem;
  outline: none;
  margin: 10px auto;
  padding: 10px 60px;
  color: white;
  border: none;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    color: #7a7a7a;
    background: lightgrey;
  }
}
